footer {
  width: 100%;
  background-color: light-gray;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  box-sizing; border-box;
}

